body{margin: 0; padding: 0;}
li,ul,h1,h2,h3,h4,h5,h6,p{margin: 0px;padding: 0px;list-style: none;font-weight:normal;}
#wrap{width: 980px;height: 1386px; margin: 0 auto;}
#header{height: 61px;width: 892px;border-bottom:2px solid #938e8c;}
#logo{
width: 110px;
height: 61px; 
color: #ffffff;
font-family: "黑体";
font-size: 12px;
background-color:#d55d5c ;
float:left;
line-height: 110px;
text-indent:7px;
}
#header>span{
font-size: 12px; 
color: #d45d5c; 
font-family: "黑体";
float: right;
margin-top: 47px;
}
#top{width:892px;height: 618px;margin-top: 34px;}
#topleft{
 width: 640px;
 float: left;
 }
#topleft>section{width: 641px;height: 301px;background-color: red;}
#topleft>ul{margin-top: 41px;}
#topleft>ul>li{float: left;}
#what{width: 228px;}
#what>h1{font-family: "微软雅黑";font-size: 16px; text-decoration: underline;font-weight: bold;color: #418c59;}
#what>article{color: #767777; font-family: "宋体";margin-top:11px;line-height: 16px;font-size: 12px;}
#when{width: 204px;margin-left: 28px;}
#when>h1{
	font-family: "微软雅黑"; 
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
	color: #d2994f;
	}
#when>article{color: #231815;font-size: 12px;font-family: "微软雅黑";margin-top:11px;line-height: 16px;opacity: 0.7;}
#how{width: 133px;margin-left: 28px;}
#how>h1{
	font-family:"微软雅黑";
	font-style: 16px;
	text-decoration: underline;
	font-weight: bold;
	color: #cc7680;
	}
#how>article{color: #231815;font-size: 12px;font-family: "微软雅黑";margin-top:11px;line-height: 16px;opacity: 0.7;}
#how>article>ul{margin-top: 28px;}
#how>article>ul>li{margin-top: 11px;}
#how>article>ul>li>span{
color: #cd4a48;
font-size: 12px;
font-family: "微软雅黑";
font-style:italic;

}
#topright{
width: 203px;
float: right;
border-top: 2px solid #cc8091;
}
#topright>p{
	font-family: "微软雅黑";
	font-size:24px;
	text-decoration: underline;
	color: #000;
	line-height:24px;
	font-variant:small-caps;
}
#topright>h2{font-size: 12px; color: #676767; font-family: "楷体";line-height: 10px;margin-top: 4px;}
#topright>span{font-size: 116px; color: #75b86b; font-family: "微软雅黑";text-decoration: underline;font-style: italic;}
#topright>div>span{color: #cc8091;font-family: "微软雅黑"; display: block;float: left;}
#topright>div>:first-child{font-size: 55px;line-height: 55px;margin-left: 10px;}
#topright>div>span:nth-child(2){font-size: 21px;margin-top: 22px;line-height: 21px;}
#topright>div>span:nth-child(3){font-size: 12px;margin-top: 38px; margin-left: -29px;line-height: 12px;}
#bottomleft>h1>span{margin-right:18px;line-height:72px;font-size: 72px; color: #f5e327; font-family: "黑体"; font-weight: bold;font-style: italic;}
#bottomleft>h1{line-height:42px;font-size: 42px;color: #11456b;font-family: "黑体";font-weight: bold;line-height: 16px;}
#bottomleft>h2{margin-top:16px;font-size: 33px; color: #11456b; font-weight: bold; font-family: "黑体";}
#bottomleft>article{
	width: 415px;
	overflow: hidden;
	border-top:2px solid #124364;
	color: #767777;
	line-height: 16px;
	font-size: 12px;
	font-family: "宋体";
	}
#bottomleft{float: left;}
#bottomleft>article>p{line-height: 16px;}
#bottomleft>article>span{margin-left:2px;display:block;width:69px;height68px;margin-top:25px;font-size: 70px;color: #f5e327;font-family: "微软雅黑";float: left;line-height: 70px;}
#bottomleft>article>p:nth-child(2){width:336px;float: left;margin-top:25px;margin-left: 6px;}
#bottomleft>article>p:nth-child(3),#bottomleft>article>p:nth-child(4){width: 215px;margin-left: 4px;float: left;}
#bottomleft>article>p:nth-child(4),#bottomleft>article>p:nth-child(5){width: 215px;margin-left: 4px;}
#bottomleft>article>p:nth-child(6),#bottomleft>article>p:nth-child(5){text-indent: 2em;margin-left: 4px;}
#bottomleftpic{width: 167px;height: 288px;background-color: red;float: right;margin-right: 6px;margin-top: 21px;}
#bottomright{width: 458px;height: 604px;float:right;}
#bottomright>:first-child{width: 458px;height:257px;background: red;}
#bottomright>:last-child{width:458px;height: 318px;background: blue;margin-top: 30px;}
